<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Menu</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="header">
    <a class="header-logo" href="/user/dashboard">Web Plate</a>
     <div class="header-links">
        <a href="/logout">Logout</a>
    </div>
  </div>
  <div class="page-title">Edit menu:</div>
  <h1 id="business-name"><% if (locals.business) { %>
    <%= locals.business %>
    <% } else { %>
    <%= locals.user.first%>'s Business
    <% } %> </h1>
  <div class="edit-content">
    <div class="edit-sidebar">
      New Menu item
      <form class="new-item" action="/user/edit/menu" method="post">
        <input type="text" name="name" placeholder="Item name" required>
        <input type="number" required name="price" min="0" step="0.01" max="9999999.99" placeholder="Price">
        <input type="url" placeholder="Image url (optional)" name="imageurl">
        <button type="submit">Create</button>
      </form>
    </div>
    <div class="menu-container">
      <div class="menu-display">
        <% if (locals.menu) {%>
          <% locals.menu.forEach(item => { %>
            <div onclick="toggle(this)" data-name="<%= item.name%>">
              <div class="item-name"><%= item.name %></div>
              <img src="<%= item.url%>" alt="">
              $<%= item.price  %></div>
          <% }); %>
          <% } else {%>
            <div class="empty">Items go here...</div>
          <% } %>
      </div>
      <button id="delete-items" onclick="deleteItems()">Delete</button>
    </div>
  </div>
</body>
<script>
  function toggle(item) {
    item.classList.toggle('selected');
  }
  
  function deleteItems() {
    const elements = Array.from(document.getElementsByClassName('selected'));
    if (!elements || elements.length == 0) return;
    elementNames = elements.map((item) => { 
      console.log(item.id);
      return item.getAttribute('data-name');});
    console.log(elementNames);
    fetch("/user/edit/menu/delete", {
      method: 'POST',
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({"items": elementNames}) 
    }).then(response => {
    if (response.ok) {
      // Reload the page or update the UI after successful deletion
      location.reload();  // This will reload the page after items are deleted
    }});
  }
</script>
</html>