<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Menu</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="header">
    <a class="header-logo" href="/user/dashboard">Web Plate</a>
     <div class="header-links">
        <a href="/logout">Logout</a>
    </div>
  </div>
  <div class="page-title">Create orders:</div>
  <h1 id="business-name"><% if (locals.business) { %>
    <%= locals.business %>
    <% } else { %>
    <%= locals.user.first%>'s Business
    <% } %> </h1>
  <div class="edit-content">
    <div class="menu-container">
      <div class="menu-display">
        <% if (locals.menu) {%>
          <% locals.menu.forEach(item => { %>
            <div onclick="add(this)" data-name="<%= item.name%>" data-price="<%= item.price%>">
              <div class="item-name"><%= item.name %></div>
              <img src="<%= item.url%>" alt="">
              $<%= item.price%></div>
          <% }); %>
          <% } else {%>
            <div class="empty">Items go here...</div>
          <% } %>
      </div>
    </div>
    <div class="order-container">
      <div id="order-display">
      </div>
      <div class="order-buttons">
        <div>$<span id="total-price">0.00</span></div>
        <button onclick="deleteItems(this)">Remove</button>
        <button onclick="createOrder()">Create</button>
      </div>
    </div>
  </div>
</body>
<script>
  function toggle(item) {
    item.classList.toggle('selected');
  }

  function add(item) {
    const orderDisplay = document.getElementById('order-display');
    const newdiv = document.createElement('div');
    const price = item.getAttribute('data-price');
    const name = item.getAttribute('data-name');
    console.log(`textContent is ${price}`);

    // Update price
    let totalPrice = document.getElementById('total-price');
    totalPrice.textContent = parseFloat(totalPrice.textContent) + parseFloat(price);

    newdiv.textContent = `${name}    $${price}`;
    newdiv.onclick = function() { toggle(this) };
    newdiv.dataset.name = name;
    newdiv.dataset.price = price;
    newdiv.classList.add('order-item');

    orderDisplay.appendChild(newdiv);
  }

  function deleteItems() {
    const elements = Array.from(document.getElementsByClassName('selected'));
    elements.forEach((element) =>  {
      let totalPrice = document.getElementById('total-price');
      totalPrice.textContent = parseFloat(totalPrice.textContent) - parseFloat(element.dataset.price);
      element.remove();
    });
  }

  function createOrder() {
    const items = Array.from(document.getElementsByClassName('order-item'));
    itemNames = items.map(item => item.dataset.name);
    const price = parseFloat(document.getElementById('total-price').textContent);
    fetch("/user/order/create", {
      method: 'POST',
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        "items": itemNames,
        "price": price
      })
    });
  }

</script>
</html>